:root{
    --main-color: #DAC7AC;
    --first-color: #FFF2E9;
    --second-color: #EDDDCB;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    padding: 0 35px;
}

.section{
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

header{
    background-color: var(--first-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.nav-menu>li{
    list-style: none;
}
.nav-menu>li>a{
    color: #262626;
    text-decoration: none;
    transition: 0.7s ease;
}

nav{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin: 0;
}

.logo{
    height: 50px;
    width: 80px;
    background-image: url(./images/DKM-logo.png);
    background-repeat: no-repeat;
    background-size: contain;

}

.nav-link:hover{
    color: dodgerblue
}

.hamburger{
    display: block;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #262626;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
    position: fixed;
    right: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--first-color);
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.nav-item{
    margin: 16px 0;
}

.nav-menu.active{
    right: 0;
}

.hero{
    display: flex;
    flex-direction: column;
    background: url(./images/massage_card.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /*border: 1px solid;*/
    height: 600px;
}

h1{
    text-align: center;
    font-size: 2.5rem;
    margin-top: auto;
    color: white;
    text-shadow: 0 0 10px black;
}

#hero-text{
    font-size: 1.25rem;
    margin-top: 40px;
    color: white;
    text-shadow: 0 0 4px black;
}

.hero .button{
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 45px;
    width: 145px;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 14px;
    font-size: 1.25rem;
    color: red;
}

i{
    text-align: center;
    font-size: 2.75rem;
}

#services{
    background-color: var(--first-color);
    padding: 35px 0;
}

.accordion{
    display: flex;
    flex-direction: column;
}

.card{
    background-color: aqua;
    margin: 0 35px;
}
.card h3{
    background-color: lightcoral;
    display: flex;
}

.card h3 i{
    font-size: 18px;
    margin-right: auto;
}

.second-title{
    text-align: center;
    font-size: 1.75rem;
}

#where{
    background-color: var(--second-color);
}


@media(min-width: 768px){
    .hamburger{
        display: none;
    }
}